// 

.slider-banner {

    &:hover {

        .prev-arrow,
        .next-arrow {
            opacity: 1;
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
            // border-radius: 50%;
        }

        .prev-arrow {
            transform: translateX(-50%);
        }

        .next-arrow {
            transform: translateX(50%);
        }
    }

    .prev-arrow,
    .next-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 0.8 !important;
        transition: all .3s ease-in-out;
        z-index: 2;
        border-radius: 50%;
        padding: 8px;
        background-color: aliceblue;
        filter: drop-shadow(0 5px 1px rgba(0, 0, 0, 0.1));


        &:hover {
            opacity: 1;
            color: var(--color-main);
        }

        .bg {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: aliceblue;
            border-radius: 50%;
        }
    }

    .prev-arrow {
        position: absolute;
        left: 0;
        transform: translateX(-50%);
    }

    .next-arrow {
        position: absolute;
        right: 0;
        transform: translateX(50%);
        cursor: pointer;
    }
}