@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --color-main: #0b74e5;
    --color-secondary: #808089;
    --color-text: #27272a;
    --background-color-hover: #27272a1f;
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

.__havanduoc{
    background-color: #efefef;
}

input {
    outline: none;
}

// Owl-Carousel
.owl-carousel {
    position: relative;

    // .owl-stage-outer {
    //     padding: 10px 0;
    // }

    // .owl-stage {
    //     padding: 10px 0;
    // }

    .owl-item {
        padding: 10px 0;
    }

    // .cloned{
    //     display: none;
    // }

    .owl-dots {
        display: none;
    }

    .owl-nav {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        top: 50%;
        transform: translateY(-50%);

        button {
            width: 50px;
            height: 50px;
        }
    }
}

a {
    // color: var(--color-main);
    transition: color .4s ease !important;
    text-decoration: none !important;
    cursor: pointer;

    // &:hover {
    //     color: var(--color-dark) !important;
    // }
}

.MuiFormHelperText-root{
    color: red !important;
}