@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --color-main: #FE0000;
    --color-secondary: lightgray;
    --color-background: #fff
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

input {
    outline: none;
}

// Owl-Carousel
.owl-carousel {
    position: relative;

    .owl-dots {
        display: none;
    }

    .owl-nav {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        top: 50%;
        transform: translateY(-50%);

        button{
            width: 50px;
            height: 50px;
        }
    }
}