.mainBanner {
  .slick-slider button {
    background: #fff !important;
    height: 44px;
    width: 44px;
    border-radius: 100% !important;
    border: #e1e1e1;
    filter: drop-shadow(0 4px 7px rgba(0, 0, 0, 0.15));
    // opacity: 0;
    z-index: 1;
    transition: all 0.4s ease;
  }

  // .slick-slider:hover button {
  //   opacity: 0.7;
  // }

  button.slick-next:before {
    font-size: 50px;
  }

  button.slick-prev:before {
    font-size: 50px;
  }
}