.__havanduoc {

    .header {
        width: 100vw;
        // height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        // RIGHT TOP BAR
        .rightTopBar {
            display: flex;
            justify-content: center;
            align-items: center;

            .item {
                border: 1px solid var(--color-secondary);
                display: flex;
                align-items: center;
                height: 60px;
                margin: 0 20px;
                border-radius: 10px;
                cursor: pointer;
                position: relative;

                .hvdIconButton {
                    background-color: var(--color-background) !important;
                    position: absolute;
                    border: 1px solid var(--color-secondary);
                    color: var(--color-main);
                    border-radius: 50%;
                    transform: translateX(-50%);
                    background-color: transparent;
                }

                .hvdText {
                    margin: 0px 30px 0px 40px;
                }
            }
        }

        // .MuiPaper{
        //     background-color: red;
        // }
    }
}