#banner-main {
    .owl-carousel {
        &:hover {
            .owl-nav button {
                opacity: 1;
            }
        }

        .owl-nav {
            button {
                position: relative;
                margin: 3vw;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                z-index: 1;
                background-color: var(--bs-gray-700);
                overflow: hidden;
                opacity: 0;
                transition: opacity .5s ease;

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    font-size: 50px;
                    transform: translateY(-12%);
                }
            }
        }
    }
}